
/* @media (width > 1280px) {
    //inicio header
    .logo {
        display: flex;
        align-items: flex-start;
        width: auto;
        max-width: 150px;
        margin-right: 100px;
     }
        
    header {
        display: flex;
        justify-content: space-around;
        gap: 10px   30px;
        font-size: 1rem;
      }
    
    .menu_ham {
        display: none;
    }
    .menu_cent, .menu_der {
        align-items: flex-end;
        margin-bottom: 15px;
        gap: 8px;
     
      }
    
    .menu_der {
        justify-content: flex-end;
      }
  
    .menu_general {
        display: flex; 
        justify-content: space-between;
     }
      
      .menu_general nav {
            display: flex;
            justify-content: flex-end;
            gap: 16px;
     }
      
      .menu_general a {
        font-size: 0.9em; // más pequeño para tablets 
        color: rgb(87, 14, 106);
        text-decoration: none;
        padding: 6px 12px;
        border-radius: 6px;
        transition: background-color 0.3s;
        white-space: nowrap;
      }
      
      .menu_general a:hover {
        background-color: #ffffff;
      }
} */