header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    font-size: 1em;
   }
.logo{
    margin-top: 5px;
    text-align: center;
}

.menu_general {
    display: none;
}

.menu_ham {
    font-size: 2rem;
    color: rgb(87, 14, 106);
    margin-right: 10px;
    border:none;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin-left: 5%;
    max-width: 100px;
    
}