<section class="benefits_container">
  <article class="aritcle_benefits">
    <img src="./images/beneficios/calendario.png" alt="imagen calendario" />
    <h3 class="tittle_benefits">Clases 100% flexibles</h3>
    <p class="description_benefits">
      Clases cuando quieras, desde el sofá de casa, despacho, oficina...
    </p>
  </article>

  <article class="aritcle_benefits">
    <img src="./images/beneficios/meet.png" alt="imagen de un meet " />
    <h3 class="tittle_benefits">Satisfacción garantizada</h3>
    <p class="description_benefits">
      Nos encargamos de todo. Así tu puedes centrarte en tus clases.
    </p>
  </article>

  <article class="aritcle_benefits">
    <img src="./images/beneficios/video-call.png" alt="imagen video-call" />
    <h3 class="tittle_benefits">Profesores Certificados</h3>
    <p class="description_benefits">
      Da un salto en tu carrera musical, domina un instrumento o recibe refuerzo
      escolar.
    </p>
  </article>

  <article class="aritcle_benefits">
    <img
      src="./images/beneficios/bolsa-dinero.png"
      alt="imagen bolsa de dinero"
    />
    <h3 class="tittle_benefits">Accesible para todos</h3>
    <p class="description_benefits">
      Clases económicas: sin matrícula, mínimo de horas, deslpazamientos.
    </p>
  </article>
  <a class="reserva_btn" href="x">Reserva tu prueba gratuita</a>
</section>
