<section class="how-it-works-container">
  <div class="container-purple">
    <h3 class="easy-tittle">¿Cómo funciona Mila Music?</h3>
    <p class="easy">
      ¡Sencillo! <br />son clases online, en directo, con un profesor particular
      para ti.
    </p>
  </div>

  <ul class="how-it-works-list">
    <li>
      <span class="number-how-it">1 </span>
      <div>
        <h3 class="tittle-functions">Encuenta a tu profe</h3>
        <p class="description-functions">
          En nuestro equipo, encontrarás a tu profesor ideal. Se adaptará a tus
          necesidades y te ayudará a alcanzar tus objetivos.
        </p>
      </div>
    </li>

    <li>
      <span class="number-how-it">2 </span>
      <div>
        <h3 class="tittle-functions">Organiza tus clases en tu agenda</h3>
        <p class="description-functions">
          Escoge un profesor online según tu disponibilidad horaria y disfruta
          de la flexibilidad de las clases en línea.
        </p>
      </div>
    </li>

    <li>
      <span class="number-how-it">3 </span>
      <div>
        <h3 class="tittle-functions">Aprende con metodologías únicas</h3>
        <p class="description-functions">
          Nuestras clases son diseñadas de acuerdo a tus necesidades, tus
          conocimientos y en pro de ayudarte a lograr tus objetivos.
        </p>
      </div>
    </li>
  </ul>
  <div class="ok">
    <img
      class="imag-ok"
      src="./images/beneficios/okay.png"
      alt="imagen de okay"
    />
    <h3 class="thinking-of-you">Nos preocupamos por ti.</h3>
    <p class="paragraph-thinking">
      Por eso, si después de tu primera clase <br />
      no te convence tu profesor/a, <br />te ayudamos a encontrar otro.
    </p>
  </div>
</section>
