<footer class="footer">
  
    <section class="line">
      <ul>
        <h3>Nuestra empresa</h3>
      <li><a href="x">Sobre nosotros</a></li>
      <li><a href="x">Ayuda</a></li>
      <li><a href="x">Políticas de privacidad</a></li>
      </ul>
    </section>

    <section class="line">
      <h3>Recursos</h3>
        <ul>
        <li><a href="x">Dar clases online</a></li>
        <li><a href="x">Recibir clases online</a></li>
        <li><a href="x">Blog</a></li>
        </ul>
    </section>

    <section class="social">
        <a href="https://x.com/?lang=es"><img src="./images/redes-sociales/twitter.png" alt="icono de twitter"></a> 
        <a href="https://www.facebook.com/login/?locale=es_ES"><img src="./images/redes-sociales/facebook.png" alt="ícono facebook"></a>    
        <a href="https://www.instagram.com/" class="facebook" ><img src="./images/redes-sociales/instagram.png" alt="ícono Instagram"></a>   
      </ul>
    </section>
  
</footer>
