<footer class="footer">
  
    <section class="line">
      <ul>
        <h3>Nuestra empresa</h3>
      <li><a href="x">Sobre nosotros</a></li>
      <li><a href="x">Ayuda</a></li>
      <li><a href="x">Políticas de privacidad</a></li>
      </ul>
    </section>

    <section class="line">
      <h3>Recursos</h3>
        <ul>
        <li><a href="x">Dar clases online</a></li>
        <li><a href="x">Recibir clases online</a></li>
        <li><a href="x">Blog</a></li>
        </ul>
    </section>

    <section class="social">
        <a href="x">twitter</a> 
        <a href="x">facebook</a>    
        <a href="x">Instagram</a>   
      </ul>
    </section>
  
</footer>
