<header>
  <form action="hamburguer">
    <select class="menu_ham">
      <option value="&#9776;" disabled selected hidden>&#9776;
      <option value="Inicia sesión">Inicia sesión</option>
      <option value="Registrate gratis">Registrate gratis</option>
      <option value="Busca clases">Busca clases</option>
      <option value="Repaso Escolar">Repaso Escolar</option>
      <option value="Solfeo">Solfeo</option>
      <option value="">Guitarra Eléctrica</option>
      <option value="">Inscribete como profe de Mila Music</option>
      <option value="">¿Cómo funciona?</option>
      <option value="">Comunidad</option>
      <option value="">Contáctanos</option>
      <option value="">Ayuda</option>
    
      </option>
    </select>
    </form>
    <div class="logo">
        <a href="#">
          <img
            src="./images/logo-final.png"
            height="80px"
            alt="Esta es la imagen del logo"
        /></a>
      </div>
    <div class="menu_general">
      <nav class="menu_cent">
        <a href="#como-funciona">¿Cómo funciona?</a>
        <a href="#encuentra-tu-profe">Encuentra tu profe</a>
      </nav>
      <nav class="menu_der">
        <a href="#iniciar-sesion">Inicia sesión</a>
        <a href="#registro">Regístrate gratis</a>
      </nav>
    </div>
  </div>
  
  
</header>
