<header>

     <!-- Botón hamburguesa -->
<button class="hamburguesa js_hamburguer ">&#9776;</button>

 <!-- Menú personalizado -->
<section class="menu_ham js_menu_ham collapsed" id="menu">
 
  <a class="menu_ham_log-in-btn" href="#">Inicia sesión</a>
  <a class="menu_ham_sign-up-btn" href="#">Regístrate Gratis</a>
  <a class="menu_ham_find">Busca clases</a>
  <section class="other-class">
  <a class="menu_ham_sub-find" href="#">Repaso Escolar</a>
  <a class="menu_ham_sub-find" href="#">Solfeo</a>
  <a class="menu_ham_sub-find" href="#">Guitarra Eléctrica</a>
  </section>
  <a class="menu_ham_find" href="#">Inscribete como profe de Mila Music</a>
  <a class="menu_ham_find" href="#">¿Cómo funciona?</a>
  <a class="menu_ham_find" href="#">Comunidad</a>
  <a class="menu_ham_find" href="#">Contáctanos</a>
  <a class="menu_ham_find-benefit" href="#">Beneficios</a>
</section>

<div class="logo">
        <a href="#">
          <img
            src="./images/logo-final.png"
            height="100px"
            alt="Esta es la imagen del logo"
        /></a>
      </div>
    <div class="menu_general">
      <nav class="menu_cent">
        <a href="#como-funciona">¿Cómo funciona?</a>
        <a href="#encuentra-tu-profe">Encuentra tu profe</a>
      </nav>
      <nav class="menu_der">
        <a href="#iniciar-sesion">Inicia sesión</a>
        <a href="#registro">Regístrate gratis</a>
      </nav>
    </div>
  </div>
  
  
</header>
