<header>
    <div class="menu_ham">&#9776;</div>
    <div class="logo">
        <a href="#">
          <img
            src="../public/images/Logo 1 con letra al lado.png"
            height="80px"
            alt="Esta es la imagen del logo"
        /></a>
      </div>
    <div class="menu_general">
      <nav class="menu_cent">
        <a href="#como-funciona">¿Cómo funciona?</a>
        <a href="#encuentra-tu-profe">Encuentra tu profe</a>
      </nav>
      <nav class="menu_der">
        <a href="#iniciar-sesion">Inicia sesión</a>
        <a href="#registro">Regístrate gratis</a>
      </nav>
    </div>
  </div>
  
  
</header>
