<section class="hero">
  <h1 class="title_1">
    Aprende música <br />en clases privadas online <br />desde cualquier parte
    del mundo
  </h1>
  <form class="form">
    <a class="toolBtn buscar-instrumentos" href="x"
      >¿Qué quieres aprender?<i class="fa-solid fa-magnifying-glass"></i
    ></a>
  </form>
  <h2 class="instruments">Canto - Piano - Guitarra - Saxofón - Ukulele</h2>
  <ul class="benefits_3">
    <li>Conoce al profesor</li>
    <li>Prueba 20 minutos gratis</li>
    <li>Aula virtual para tus clases</li>
  </ul>
</section>
