<section class="instruments-container">
  <h3 class="tittle-instruments">
    Clases de música con profesores de <br />todo el mundo
  </h3>
  <ul class="instruments-list">
    <li>
      <span class="icon-instrument">
        <img src="./images/instrumentos/piano.png " alt="icono piano" />
      </span>
      <div>
        <h3 class="subject-instrument">Clases de piano</h3>
        <p class="teachers-instruments">700 profesores</p>
      </div>
    </li>
    <li>
      <span class="icon-instrument"
        ><img src="./images/instrumentos/saxofón.png " alt="icono saxofón"
      /></span>
      <div>
        <h3 class="subject-instrument">Clases de saxofón</h3>
        <p class="teachers-instruments">200 profesores</p>
      </div>
    </li>
    <li>
      <span class="icon-instrument"
        ><img src="./images/instrumentos/canto.png " alt="icono canto"
      /></span>
      <div>
        <h3 class="subject-instrument">Clases de canto</h3>
        <p class="teachers-instruments">1000 profesores</p>
      </div>
    </li>
    <li>
      <span class="icon-instrument"
        ><img src="./images/instrumentos/guitarra.png " alt="icono guitarra"
      /></span>
      <div>
        <h3 class="subject-instrument">Clases de guitarra</h3>
        <p class="teachers-instruments">800 profesores</p>
      </div>
    </li>
  </ul>
  <a class="ver-mas" href="x">Ver más instrumentos</a>
</section>
