<section class="instruments-container_landing">
  <h3 class="tittle-instruments_landing">
    Clases de música con profesores de <br />todo el mundo
  </h3>
  <ul class="instruments-list_landing">
    <li>
      <span class="icon-instrument_landing">
        <img src="./images/instrumentos/piano.png " alt="icono piano" />
      </span>
      <div>
        <h3 class="subject-instrument_landing">Clases de piano</h3>
        <p class="teachers-instruments_landing">700 profesores</p>
      </div>
    </li>
    <li>
      <span class="icon-instrument_landing"
        ><img src="./images/instrumentos/saxofón.png " alt="icono saxofón"
      /></span>
      <div>
        <h3 class="subject-instrument_landing">Clases de saxofón</h3>
        <p class="teachers-instruments_landing">200 profesores</p>
      </div>
    </li>
    <li>
      <span class="icon-instrument_landing"
        ><img src="./images/instrumentos/canto.png " alt="icono canto"
      /></span>
      <div>
        <h3 class="subject-instrument_landing">Clases de canto</h3>
        <p class="teachers-instruments_landing">1000 profesores</p>
      </div>
    </li>
    <li>
      <span class="icon-instrument_landing"
        ><img src="./images/instrumentos/guitarra.png " alt="icono guitarra"
      /></span>
      <div>
        <h3 class="subject-instrument_landing">Clases de guitarra</h3>
        <p class="teachers-instruments_landing">800 profesores</p>
      </div>
    </li>
  </ul>
  <a class="ver-mas_landing" href="x">Ver más instrumentos</a>
</section>
