<section class="hero">
  <h1 class="title">
    Aprende música <br />en clases privadas online <br />desde cualquier parte
    brdel mundo.
  </h1>

  <p>¿qué quires aprender?</p>
  <!--formulario tipo select diferentes instrumentos musicales-->

  canto - piano - guitarra - saxofón -ukulele
  <!--lista con etiquetas a que remitan a la página donde están los perfiles de los profesores disponibles-->
  - conoce al profesor. Prueba 20 min. - gratis aula virtual para tus clases.
</section>
clases online con profesores expertos en cada materia de todo el mundo.
<!--titulo tipo h2-->
aprende tecnicas con fluidez, iniciate o aprueba un examen
<!-- parrafo correspondiente al h2-->

<!--lista de instrumentos-->
teoria musical solfeo canto piano guitarra ukulele saxofón violin bajo bateria
chelo, refuerzo escolar, Prepara un examen, aprende un instrumento o mejora tu
técnica.
<!--titulo tipo h2-->
aprende o mejora tu disciplina. Encuentra tu profesor ideal
<!--botton tipo ancla que lleva a otra página de busqueda de docente-->

<!-- servicios con imagen estática tipo h3 y p-->
clases 100% flexibles
<!-- clases cuando quieras desde la comodidad de tu casa-->

Satisfacción garantizada
<!--Nos encargamos de todo. Así tu puedes centrarte en tus clases-->

Accesibles para todos
<!--clases económicas: sin matrícula, mínimo de horas, ni desplazamientos-->

Reserva tu prueba gratuita
<!-- Boton tipo ancla que dirige a formulario de qué materia en qué curso estás, nombre, email, telefono,politica de privacidad y boton de ver profesores-->
