<section class="hero">
  <h1 class="title">
    Aprende música <br />en clases privadas online <br />desde cualquier parte
    <br />
    del mundo.
  </h1>
  <form class="form">
    <select class="js_buscar-instrumentos">
      <option value="¿Qué quieres aprender?">¿Qué quieres aprender?</option>
      <option value="piano">Piano</option>
      <option value="Canto">Canto</option>
      <option value="Guitarra">Guitarra</option>
      <option value="Saxofón">Saxofón</option>
    </select>
    <button class="js_toolBtn"><img src="./images/tool.png" alt="" /></button>
  </form>
  <!--formulario tipo select diferentes instrumentos musicales-->

  <!-- canto - piano - guitarra - saxofón -ukulele -->
  <!--lista con etiquetas a que remitan a la página donde están los          perfiles de los profesores disponibles-->
  <!-- - conoce al profesor. Prueba 20 min. - gratis aula virtual para tus clases. -->
</section>
