<section class="student-testimonies-section">
  <h3 class="student-testimonies">
    ¿Estos estudiantes te contarán su experiencia con nuestras clases?
  </h3>
  <h4 class="name-student-testimonies">Lina</h4>
  <img
    class="img-student-testimonies"
    src="./images/testimonios/lina.jpg"
    alt=""
  />
  <p class="paragraph-student-testimonies">
    "Llevo dos años tomando clases de canto con la profesora Camila y ha sido
    una experiencia increíble. Camila es muy motivadora y cada clase me inspira
    a mejorar. Hace poco empecé también a aprender ukulele con ella, ¡y ha sido
    genial! Las clases son muy divertidas y complementan perfectamente mi
    aprendizaje musical. La recomiendo totalmente."
  </p>
</section>
