header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    font-size: 2em;
    height: 80px;
}
.logo{
    margin-top: 5px;
    text-align: center;
}

.menu_general {
    display: none;
}

.menu_ham {
    font-size: 2rem;
    color: rgb(87, 14, 106);
    margin-right: 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

@media  (min-width: 600px) {
    .menu_ham {
        display: none;
    }
    .logo{
        display: inline;
        align-items: flex-start;
        width: 80px;
        margin-left: 25px;
        margin-top: 10px;

  }
    .menu_general {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 5px;
      }
      
      .menu_general nav {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            padding: 0;
      }
      
      .menu_general a {
        color:  rgb(87, 14, 106);
        text-decoration: none;
        padding: 8px 16px;
        border-radius: 6px;
        transition: background-color 0.3s;
      }
      
      .menu_general a:hover {
        background-color: #ffffff;
      }
      
}




/*   EJEMPLI DE PLATZI CON LO @MEDIA

@media (min-width: 600px) {
    .c1{
        width: 25%;
        order: 1;
    }
    .c2{
        width: 75%;
        order: 2;
    }
    .c3 {
        width: 100%;
        order: 3;
    }
    .c4 {
        width: 100%%;
        order: 4;
    }
    .c5 {
        width: 100%%;
        order: 5;
    }
 }

 @media (min-width: 800px){
    .c1{
        width: 30%;
        order: 1;
    }
    .c2{
        width: 40%;
        order: 2;
    }
    .c3 {
        width: 30%;
        order: 3;
    }
    .c4 {
        width: 50%;
        order: 4;
    }
    .c5 {
        width: 50%;
        order: 5;
    }
 }*/